/* line 3, style.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, style.scss */
a.fork {
  width: block;
  text-indent: -9999px;
  width: 150px;
  height: 150px;
  background: url('../images/fork.png?1380393781') 0 0 no-repeat;
  position: fixed;
  top: 0;
  right: 0;
}

/* line 20, style.scss */
section {
  display: block;
  position: relative;
  width: 100%;
  min-height: 900px;
  padding-top: 50px;
  text-align: center;
}
/* line 27, style.scss */
section h1 {
  display: block;
  width: 200px;
  padding-top: 125px;
  font-size: 25px;
  margin: 0 auto;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 35, style.scss */
section h1 span {
  display: block;
  margin: 0 auto;
  width: 117px;
  height: 117px;
}
/* line 42, style.scss */
section h2 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 20px;
}
/* line 48, style.scss */
section blockquote, section .result {
  color: #fff;
  display: table;
  font-size: 15px;
  padding: 10px 20px;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* line 56, style.scss */
section blockquote:hover, section .result:hover {
  background: rgba(255, 255, 255, 0.3);
}
/* line 60, style.scss */
section .result {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
/* line 114, logo/*.png */
section .logo-sprite, section#gravatar .logo-gravatar, section#facebook .logo-facebook, section#twitter .logo-twitter, section#gplus .logo-plus, section#pinterest .logo-pinterest, section#youtube .logo-youtube, section#analytics .logo-analytics, section#github .logo-github, section#badge .logo-badge {
  background: url('../images/logo-s80efcf97ba.png') no-repeat;
}
/* line 69, style.scss */
section#gravatar {
  background: #0a76b7;
}
/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
section#gravatar .logo-gravatar {
  background-position: 0 -117px;
}
/* line 73, style.scss */
section#facebook {
  background: #3b5999;
}
/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
section#facebook .logo-facebook {
  background-position: 0 -1053px;
}
/* line 77, style.scss */
section#twitter {
  background: #598dca;
}
/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
section#twitter .logo-twitter {
  background-position: 0 -819px;
}
/* line 81, style.scss */
section#gplus {
  background: #f37f6a;
}
/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
section#gplus .logo-plus {
  background-position: 0 -351px;
}
/* line 85, style.scss */
section#pinterest {
  background: #cf3d3a;
}
/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
section#pinterest .logo-pinterest {
  background-position: 0 0;
}
/* line 89, style.scss */
section#youtube {
  background: #db6056;
}
/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
section#youtube .logo-youtube {
  background-position: 0 -468px;
}
/* line 93, style.scss */
section#analytics {
  background: #f89442;
}
/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
section#analytics .logo-analytics {
  background-position: 0 -702px;
}
/* line 97, style.scss */
section#github {
  background: #353535;
}
/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
section#github .logo-github {
  background-position: 0 -234px;
}
/* line 101, style.scss */
section#badge {
  background: #75c033;
  height: 1000px!important;
}
/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
section#badge .logo-badge {
  background-position: 0 -936px;
}
